<!--Angular Options Select from Array-->
<div class="container">
  <!-- <app-department></app-department> -->
  <!-- <app-tabs>
    <app-tab tabTitle="Tab 1">
      Here's some content.
    </app-tab>
    <app-tab tabTitle="Tab 2">
      And here's more in another tab.
    </app-tab>
    <app-tab tabTitle="Tab 3">
      And here's more in another tab.
    </app-tab>
  </app-tabs>
  <app-post *ngFor="let post of posts" [post]="post"></app-post> -->

<!--Steps Indicator-->
<app-steps-indicator [count]="10" [activeStepIndex]="2" [mode]="1"></app-steps-indicator>
<!--Steps Indicator /-->
</div>
